body {
    background-image: url(webb.png);
        
        width: 400px;
        margin: 0 auto;
        margin-top:250px ;
        padding: 0 20px 20px 20px;
        border-radius: 50px;
        position: center;
        transition-duration: 0.5s;
}

#app{
    width: 320px;
    background: #FFF;
    box-shadow: 0 0 14px 0rgba(0,0,0,0,0.02);
    border-radius: 2px;
    padding:  30px 20px;
    transition-duration: 0.5s;
    border-color: rgb(241, 241, 241);
    border-width:10px;
    border-style: double;
}

#app button {
    width: 100%;
    border:0;
    margin-top: 30px;
    background: #7d40e7;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px ;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    transition-duration: 0.5s;
    font-family: 'Roboto', sans-serif;
}
#app button:hover{
    background: #6931ca ;
    transition-duration: 0.5s;
}

#app input{
    width: 100%;
height: 32px;
font-size: 14px;
color: #777;
border: 0;
border-bottom: 1px solid #EEE;
transition-duration: 0.5s;
font-family: 'Roboto', sans-serif;
margin-top: 20px;
}
#app input{
    margin-top: 20px;
    display: block;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.5s;
}

li{
    font-size: 19.5px;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    list-style-image: url("ponto.png");
    color: rgb(66, 66, 66);
    border-radius: 50px;
    transition-duration: 0.5s;
}



a{
    text-decoration:none;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: right;   
    transition-duration: 0.5s;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: rgb(117, 117, 117);
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: center;
    transition-duration: 0.5s;
}